//COLORS

$color-primary: #ff874b;
$color-primary-dark: #d74124;
$color-primary-light: #ffcb57;

$color-white: #fff;
$color-black: #000;
$color-gray: #4d4d4d;
$color-gray-dark: #23140a;
$color-gray-light: #999999;

@mixin responsive($device-breakpoint){
    @if $device-breakpoint == phone{ 
        @media (max-width: 35.99em) { @content };
    }
    @if $device-breakpoint == tab-port{ 
        @media (max-width: 61.99em) { @content };
    }
    @if $device-breakpoint == tab-land{ 
        @media (max-width: 75em) { @content };
    }
    @if $device-breakpoint == bigscreen{  
        @media (min-width: 112.5em) { @content };
    }
}

//MIXINS

@mixin center-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

*,
*::before,
*::after{
    box-sizing: inherit;
    padding: 0;
    margin: 0;
    backface-visibility: hidden;
    font-family: "Lato", sans-serif;
    font-size: 1.6rem;
    font-weight: 600;
}

html{
    box-sizing: border-box;
    font-size: 62.5%;
    overflow-x: hidden;
}

body{
    background-image: url('../img/bg.jpg');
    background-size: cover;
    background-attachment: fixed;
    
    line-height: 1.6;
}