.nameTitle{
            color: $color-primary-dark;
            font-size: 5rem;
            font-family: "Homemade Apple", sans-serif;
            position: relative;
            text-shadow: 3rem 2.5rem 7px rgba($color-primary-dark, .3);
            text-align: right;
        }
        
.who{
            color: $color-white;
            font-size: 4rem;
            font-family: "Work Sans", sans-serif;
            letter-spacing: -5px;
            position: relative;
            text-align: right;
            z-index: 20;
        }
        
.extras{
            color: $color-white;
            font-size: 2rem;
            font-family: "Work Sans", sans-serif;
            text-align: right;
            position: relative;
        }